@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: rgba(110, 4, 73, 0.761);
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    background: aqua;
    color: black grey;
    
}

.row{
    margin: 8px 0;
}
.textfield{
    font-size: 20px;
     margin: 0;
     padding: 10px 0px;
     border: 2px solid black;
     border-radius: 5px;
     background-color: antiquewhite;
    }
.text-center{
    color:bisque ;
    border: 2px solid black;
    border-radius: 8px;
    background-color: black;
}

#C{
    background-color: red;
}